---
layout: default
landmark: home
---

<div class="home">

  <p>Hi! I'm Robin Howard. I <a rel="me" href="https://github.com/damncabbage">mess around</a> with TypeScript, Ruby, Haskell, PureScript and Elixir, and sometimes like to <a href="#posts">scribble things down</a> and <a href="/speaking/">talk at people</a>. I get paid to write code and run up hosting bills at <a href="https://www.cipherstash.com">CipherStash</a>.</p>

  {% if site.talks %}
    <section id="talks" class="home-section">
      <h1 class="page-heading">Talks</h1>
      <ul class="post-list">
        {% for post in site.talks reversed %}
          {% if post.listed %}
            <li>
              <h2>
                <a class="post-link" href="{{ post.url }}">{{ post.title }}{% if post.venue %} ({{ post.venue }}){% endif %}</a>
              </h2>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.categories %} • Filed under: {{ post.categories | join: ', ' }}{% endif %}</span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  {% if site.projects %}
    <section id="projects" class="home-section">
      <h1 class="page-heading">Projects</h1>
      <ul class="post-list">
        {% for post in site.projects %}
          <li>
            <h2>
              <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  <section id="posts" class="home-section">
    <h1 class="page-heading">Posts</h1>
    <ul class="post-list">
      {% for post in site.posts %}
        {% if post.listed %}
          <li>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {% if post.series %}
              <span class="post-series">
                (Series: <a href="/series/{{ post.series | slugify }}">{{ post.series }}</a>)
              </span>
            {% endif %}
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.categories %} • Filed under: {{ post.categories | join: ', ' }}{% endif %}</span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <!--
    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  -->

</div>
